:root {
    --primary-color: #73a48b;
    --secondary-color: #00cc66;
    --background-color: #f1f1f1;
    --text-color: #333;
    --timer-color: #ff6347;
    --stem-color: #7bb155;
}

html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tomato-timer {
    position: relative;
    margin-bottom: 20px;
}

.tomato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: var(--timer-color);
    border-radius: 50%;
    position: relative;
    margin-top: 40px;
}

.stem {
    position: absolute;
    top: -20px;
    left: 50%;
    /* Center the stem horizontally */
    transform: translateX(-70%) rotate(-30deg);
    width: 13px;
    height: 30px;
    background-color: var(--stem-color);
    border-radius: 50% 50% 0 0;
}

.time {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    color: #000000;
}

#start-button {
    background-color: #d6d6d6;
}

#reset-button {
    background-color: #d6d6d6;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.session-counter {
    font-size: 22px;
    margin-bottom: 20px;
}

.mode-toggle {
    text-align: center;
}

#mode-toggle-button {
    border: none;
    color: #7a3030;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4em;
}

.mode-toggle-button:hover {
    background-color: var(--secondary-color);
}

.mode-toggle-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("color-mode-toggle.png");
}

.dark-mode {
    --primary-color: #4e4e4e;
    --secondary-color: #00cc66;
    --background-color: #222;
    --text-color: #fff;
    --timer-color: #e64e4e;
    --stem-color: #7bb155;
}

header,
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
